.row>div{
    float:left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 72pt;
    border-radius: 10px;
    background-color: lightgray;
    
}

.row>div:hover{
    background-color: chartreuse;
    border-radius: 10px;
}
.row>div:active{
    background-color: lightcoral;
    border-radius: 10px;
}

.row{
    clear:both;
    width: 307px;
    height:101px ;
    margin: auto;
}

.cell{
    border: 1px solid gray;
    padding:auto;
}

#board {
    border: 1px solid black;
    text-align: center;
    width: 310px;
    height: 443px;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
   
}
#text {
    /* border: 1px solid black; */
    width: 308px;
    background-color: lightgray;
    border-radius: 10px;
}

#text>h2{
    color: darkblue;
}
#playBoard {
    /* border: 1px solid black; */
    height: 306px;
    width: 306px;
    border-radius: 10px;

}

h1 {
    border: none;
}
h2{
    border: none;    
}
